<h4>Items</h4>
<% items.each do |it| %>
<div class="item" id="item-<%= it.id %>">
  <span><%= it.name %></span>
  <% if current_user == it.user %>
    <%= link_to "Complete Item", user_item_path(current_user,it), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
  <% end %>
  <%= distance_of_time_in_words(Time.now, it.created_at + 7.days) %> remaining
</div>
<% end %>

<% if local_assigns[:new_item] %>
  <%= render partial: 'items/form', locals: { item: new_item } %>
<% end %>
